body{
    font-family: 'Nunito', sans-serif;
    padding: 0px;
    margin: 0px;
}

/* fonts family: "Times New Roman", Nunito, Roboto, Ionicons*/

/*Header*/
.containerHead{
    justify-content: left;
    height: 80px;
    display: flex;
    background-color: rgb(255, 255, 255);
}

#logoHead{
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    margin-left: 30px;
}

#menuHead{
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    margin-right: 22px;
    margin-left: 600px;
    font-size: 20px;
}

#menuNavegacao{
    justify-content: left;
}

#menuButton{
    margin-top: 40px;
    margin-left: 30px;
}

#buttonDowloadApp{
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 20px;
    color: white;
    background-color: #48CE58;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 6px rgb(172, 172, 172);
}

#buttonDowloadApp:hover{
    background-color: #49f05c;
    box-shadow: 0px 0px 4px rgb(113, 113, 113);
}

nav li, nav ul a{
font-family: 'Nunito', sans-serif;
 color: grey;
 list-style: none;
 margin: 0%;
 padding: 0%;
 text-decoration: none;
 margin-left: 15px;

}

nav ul {
 display: flex;

}

nav a {
    display: block;
    padding: 15px;
   
   
}

nav a b:hover {
    color: #48CE58;
    text-shadow: 0px 0px 8px rgb(221, 221, 221);
    
}

/* Parte do Banner do Head */
.containerBanner{
    justify-content: left;
    flex-direction: row;
    display: flex;
    height: 669px;
    
}

#containerTextHeader{
    width: 700px;
}

#containerImageHeader{
    margin-left: 0px;
    margin-top: 36px;
    
}

#titlePriciopal{
    width: 500px;
    margin-left: 100px;
    font-size: 65px;

}

#subPrincipal{
    margin-left: 100px;
    font-size: 30px;
}

.buttonsStores{
   display: flex;
   flex-direction: row;
}

#buttonsStores{
    margin-left: 100px;
}

.buttonsDownload{
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 20px;
    color: white;
    background-color: #48CE58;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 6px rgb(172, 172, 172);
}

.buttonsDownload:hover{
    background-color: #49f05c;
    box-shadow: 0px 0px 4px rgb(113, 113, 113);
}

#applestore{
    margin-left: 15px;
}

#walletTexto{
    color: #48CE58;
}

/* Features */
.containerFeatures{
   
    height: 800px;
    background-color: white;
    justify-content: center;
}

#tituloFeatures{
    justify-content: center;
    text-align:center;
    font-size: 34px;
    font-family: 'Nunito', sans-serif;
    color: #333333;
    width: 800px;
    margin-top: 70px;
    margin-left: 350px;

}

#featuresRow{
    display: flex;
    flex-direction: row;
}

